    .calendar{
        width: 600px;
    }
    .month{
        float: left;
        width: 24.8%;
        text-align: center!important;
        padding: 0.1%;
    }
    .picker{
		margin-top:2px;
        width:100%;
        box-shadow: 3px 3px 3px #888888;
    }
    .pickerContainer{
    	position:absolute;
    	width:200px;
    	margin-right: 50px;
    }
    .pickerInput{
    	 width:100%;
    }
    
    .monTitle{
        background-color: #4d4d4d;
        color: white;
        font-weight: bold;
        font-size: 12px;
        line-height: 25px;
    }
    
    .monthBefore, .monthAfter{
	    margin: 5px;
	    background-color: white;
	    color: #4d4d4d;
	    line-height: 15px;
	    width: 15px;
	    border-radius: 100%;   
	    cursor: pointer;
    }
    .monthBefore{
    	float:left;
    }
    .monthAfter{
    	float:right;
    }
    .monBody{
        min-height: 140px;
        background-color: #efefef;
    }
    .dayWeek{
        font-size: 10px;
        float:left;
        min-width:14.28%;
        line-height: 20px;
        min-height: 20px;
        cursor: pointer;
    }
    .dayTitle{
        font-size: 10px;
        float:left;
        font-weight: bold;
        min-width:14.28%;
        line-height: 20px;
        background-color: #bfbfbf;
        border-radius: 0 !important;
    }
