.fixedBodyDiv{
	position: fixed;
    top: 80px;
    right: 10px;
    left: 10px;
    bottom: 0;
    background-color:white;
}

.cabecera{
    position: relative;
    height: 60px;
    font-size: 25px;
    line-height: 60px;
    margin-top: 20px;
 }
.iconCerrarDrc{
    float: right;
    height: 56px;
    width: 56px;
    background: url(../images/icon-close-white.png);
    margin-right: 20px;
}
.iconActualizarDrc{
    float: right;
    height: 56px;
    width: 56px;
    background: url(../images/icon-refresh-white.png);
    margin-right: 20px;
}
.iconDownDrc{
    float: right;
    height: 56px;
    width: 56px;
    background: url(../images/icons-lista-white.png);
    margin-right: 20px;
}
.iconMenuKpis{
    height: 56px;
    width: 300px;
    line-height: 56px;
    background: url(../images/icon-menu.png);
    margin-right: 20px;
    background-size: 40px;
    padding-left: 66px;
    background-position: 13px;
    background-repeat: no-repeat;
    position: absolute;
    top: -100px;
    font-size: 20px;
    color: #6d6d6d;
}

.iconMenuKpis:hover{
    background-color: lightgray;
    cursor:pointer;
    curson:hand;
}
.actionButton{
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100%!important;
	background-color: #6eb0df;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);    
	
}

.actionButton:hover{
    box-shadow: 2px 2px 6px #6d6d6d;
   	cursor:pointer;
	cursor:hand;
}

.actionButton:active{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);    
	cursor:hand;
}

.datebox{
	float:right;
}
.cuerpo{
    border-top: 1px solid #d6d6d6;
    position: fixed;
    top: 200px;
    bottom: 0;
    right: 0;
    left: 0;
}

.menulateral{
    z-index: 100;
    position: absolute;
    width: 300px;
    background-color: #4d4d4d;
    overflow-y: scroll;
    height: 100%;
    border-radius: 0 !important;
	box-shadow: 10px 0px 6px rgba(0,0,0,0.16);	
}

#menulateral{
	display:none;
}
.fondogris{
    z-index: 50;
	position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}
.menulateral::-webkit-scrollbar-track { 
    background-color: #4d4d4d;
    border-radius: 1px;
}
.menulateral::-webkit-scrollbar-thumb { 
    background-color: gray;
}
.menulateral::-webkit-scrollbar { 
    width: 6px;
}
.seccionMenu{
    overflow: hidden;
    height: 35px;
}
.titSeccion{
    color: white;
    font-size: 17px;
    font-weight: bold;
    line-height: 35px;
    margin-left: 5px;
}
.opcionmenu{
    line-height: 25px;
    height: 25px;
    color: white;
    margin: 10px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}
.opcionmenu:active{
    background-color: #45535A !important; /*ENFASIS 100% LUMINOSIDAD*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important; /*sombra3*/

}
.opcionmenu:hover{
    background-color: #45535A !important; /*ENFASIS 100% LUMINOSIDAD*/

}
.titMenu{
	line-height: 25px;
    height: 30px;
    margin-bottom: 5px;
    color: #4d4d4d;
    background-color: white;
    padding: 5px;
    margin: 2px;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0 0 0 0 !important;
    border-radius: 0!important;
	cursor: pointer;
    background-image: url(../images/icon-arrow.png);
    background-repeat:no-repeat;
    background-size: 15px;
    background-position: right;    
}

.titMenu:active{
    background-color: #DDDDDD !important; /*ENFASIS 100% LUMINOSIDAD*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important; /*sombra3*/

}
.titMenu:hover{
    background-color: #DDDDDD !important; /*ENFASIS 100% LUMINOSIDAD*/

}
.cuerpomenu{
    /* padding-left: 210px; */
    overflow-y: scroll;
    height: 100%;
}
.chartContainer{
	position: relative;
	border-radius:2px;
    background-color: #fff;
   	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
   	overflow:hidden;
   	margin: 10px;
   	
}
.chartCabecera{
   background-color: #d6d3d3;
    color: #433e3e;
    line-height: 50px;
    height: 50px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 50px;
    border-radius: 0 !important;
}
.chartBody{
	min-height:157px;
	margin:10px
}
.chartBodyCabecera{
	min-height:130px;
	margin:10px
}
.legendField{
	float: left;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-right: 1%;
	margin-left: 1%;
    margin-top: 2px;
    line-height: 16px;	
    height: 16px;
}
.div50{
	width:45%;
    width: calc(50% - 20px);
    display: inline-block;
 }
 
.div33{
	width:30%;
    width: calc(33% - 20px);
    display: inline-block;
 }
 
 .tablaDatos{
    font-size: 11px;
    height: 200px;
    overflow-y: scroll;
    width: 40%;
    margin-right: 10%;
    color: white;
    float: left;
 }
.tablaDatos::-webkit-scrollbar-track { 
    background-color: white;
    border-radius: 1px;
}
.tablaDatos::-webkit-scrollbar-thumb { 
    background-color: #4d4d4d;
}
.tablaDatos::-webkit-scrollbar { 
    width: 3px;
}
 .lineaDato{
 	background-color: #4d4d4d;
 	padding:2px;
 	margin:2px;
 }
 
 .tituloDato{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;	
 }
 
 .valorDato{
 	float: right;
 }
 .contenedorAdmin {
	float:left;
	width:20%;
}
.contenedorNoAdmin {
	float:left;
	width:20%;
}
 .contenedorValue{
    text-align: center;
    background-color: #d6d3d3;
    color: #433e3e;
	margin: 10px;
    margin-top:0;
 }
 
 .cabeceraValue{
    font-size: 15px;
    line-height: 30px;
    height: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
 }
  
 .valorValue{
    font-size: 46px;
    font-weight: bold;
    line-height: 45px;
    height:70px;
 }
 
 .unidadesValue{
    font-size: 15px;
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }
 
 
 .iconCerrar{
    background: url(../images/icon-cancelar.png);
    background-size: cover;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 0;
    background-color: #e44240;
    margin: 13px;
    border-radius: 100% !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
 } 
 
 .cerrarMenu{
 	display:none;
     z-index: 200;
    left: 260px;
    margin: 6px;
}
 .iconCerrar:hover{
 	cursor:pointer;
 	cursor:hand;
    box-shadow: 2px 2px 6px #6d6d6d;
 }
 
 .iconCerrar:active{
 	cursor:pointer;
 	cursor:hand;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
 }

 /******** Objetivos ********/
 .contObjetive{
    position: relative;
    background-color: #e2e2e6;
    height: 200px;
    width: 50%;
}
.topObjetive{
    background-color: #b5bd00;
    width: 50%;
    position: absolute;
    top: 60px;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
}
.lowObjetive{
    background-color: #ef3340;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.topTextObjetive{
    color: black;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 14px;
    line-height: 30px;	
    font-weight: bold;
    z-index: 1;
}
.lowTextObjetive{
    color: white;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    z-index: 1;
}